PORT=5000
MONGO_URI=mongodb://localhost:27017/codesync
JWT_SECRET=codesync_secret_key_123
CLIENT_URL=http://localhost:5173

# Judge0 Code Execution configuration
# (Leave empty for backend to auto-fallback to mock run mode)
JUDGE0_API_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY=
JUDGE0_API_HOST=judge0-ce.p.rapidapi.com
JUDGE0_USE_RAPIDAPI=true
